html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mainflex {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .navbar-toggler {
        display: block;
    }

    .nav-scrollable {
        height: unset;
    }
}

.page {
    flex-direction: row;
    align-items: stretch;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.main {
    flex: 1;
    overflow-y: auto;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-scrollable {
    overflow-y: auto;
}

.content {
    padding-top: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: text-bottom;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.505L13 7.207V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2h-2v2a.5.5 0 0 1-.5.5H3A.5.5 0 0 1 2.5 13.5V7.207L6.5 14.5Z'/%3E%3Cpath d='M13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5V7.5a.5.5 0 0 0-.293-.457L13 5.793Z'/%3E%3C/svg%3E");
}
.bi-person-fill-add-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill-add' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.493 4.493 0 0 1 1.018-2.731L9 10a3 3 0 0 0-3-3H4a3 3 0 0 0-3 3s0 1 1 1Z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}
